/* Projects.css */
.slider-container {
  padding: 20px;
  position: relative;
  z-index: 1;
}
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}
.projects-title {
  font-size: 1.8em;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
  text-align: center;
}
.project-card-container {
  border: 2px solid black;
  background-color: rgb(231, 228, 223);
  border-radius: 1em;
  color: rgb(57, 99, 75);
  text-align: center;
  min-height: 85vh;
  width: 90%;
  margin: 0 10px;
}
.project-numero {
  margin-top: 3%;
  margin-bottom: 0;
}
.project-title {
  font-size: 1.4em;
  margin-top: 0.7em;
  margin-bottom: 1em;
  text-align: center;
  text-shadow: 0.5px 0.5px 0.5px;
}
.projects-image {
  width: 95%;
  object-fit: cover;
  border-radius: 1em;
  margin: 0 auto;
}
.description-projects {
  display: flex;
  text-align: justify;
  margin-left: 0.3em;
  margin-right: 1.3em;
  margin-top: 1.5em;
  margin-bottom: 0.7em;
}
.button-projects {
  font-size: 1em;
  color: rgb(57, 99, 75);
  padding: 1%;
  width: 40vw;
  border-radius: 7px;
  border: 1px solid rgb(57, 99, 75);
  font-weight: 600;
  letter-spacing: 1px;
  background: transparent;
  cursor: pointer;
}
.button-link {
  position: absolute;
  bottom: 1.3em;
  margin-left: 3.5em;
}

/* DESKTOP VERSION */
@media screen and (min-width: 990px) {
  .projet-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .projects-title {
    font-size: 4em;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
  }
  .project-card-container {
    width: 30vw;
    min-height: 80vh;
    margin: 0.3em;
  }
  .project-title {
    font-size: 2em;
  }
  .projects-image {
    width: 90%;
    margin-bottom: 1em;
  }
  .description-projects {
    padding: 5%;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: justify;
  }
  .button-link {
    bottom: 2.3em;
    margin-left: 9.5em;
  }
  .button-projects {
    width: 10vw;
  }
}
